body {
    font-family: sans-serif;
}

.pure-u-1-3,
.pure-u-2-3 {
    display: inline-block;
    vertical-align: top;
}

.pure-u-2-3 {
    width: 60%;
}

input {
    font-size: 12.8px;
    padding: .5em .6em;
    border-radius: 4px;
    border: #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    transition: .3s linear border;
}

.green-button,
.red-button {
    font-size: 100%;
    padding: .5em 1.5em;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: .1s linear box-shadow;
    text-decoration: none;
}

.green-button {
    background: rgb(28, 184, 65);
}

.red-button {
    background: rgb(202, 60, 60);
}

#myVideo {
    margin-top: 15px;
    width: 280px;
    height: auto;
    background-color: #eee;
}

#theirVideo {
    width: 100%;
    height: 75%;
    max-height: 480px;
    background-color: #eee;
}

#videoContainer {
    padding: 25px;
    text-align: center;
}

#step1Error,
#step2,
#step3 {
    display: none;
}

#myId {
    font-weight: bold;
}